body {
    background-image: url('images/wot.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.object {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.object:hover {
    transform: scale(1.05);
}

.object img {
    width: 100%;
    border-radius: 10px;
}

button {
    background-color: #FF7F00;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #FF5733;
}

.hidden {
    display: none;
}

#object-details {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}
