@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    background-color: #0a1223;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: #101828;
}

nav ul {
    display: flex;
    gap: 15px;
    padding: 10px 0;
}

header .facts {
    font-size: 24px;
    color: #ffffff;
}

.articles {
    padding: 40px;
}

.article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.article:nth-child(odd) {
    flex-direction: row-reverse;
}

.article:nth-child(even) {
    flex-direction: row-reverse; 
}

.article img {
    width: 30%;
    border-radius: 5px;
}

.text-left, .text-right {
    flex-grow: 1;
    padding: 20px;
    color: #fff;
    transition: color 0.5s ease-in-out;
}

.text-right {
    text-align: right;
}

h1, h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

h1 {
    color: #fff;
    transition: color 1s ease-in-out;
}

h2 {
    color: #fff;
    transition: color 1s ease-in-out;
}

p {
    margin-bottom: 10px;
    font-size: 16px;
}

h1:hover, h2:hover, .text-right:hover, .text-left:hover {
    color: #bbb; 
}

/* Media Queries for Responsive Design */

@media screen and (max-width: 1200px) {
    .article img {
        width: 40%;
    }

    .article {
        flex-direction: column;
        align-items: center;
    }

    .text-left, .text-right {
        padding: 15px;
        text-align: center;
    }

    h2 {
        font-size: 22px;
    }

    p {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    header .facts {
        font-size: 20px;
    }

    .article img {
        width: 50%;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    .article {
        flex-direction: column;
        align-items: center;
    }

    .text-left, .text-right {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    header .facts {
        font-size: 18px;
    }

    .article img {
        width: 70%;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 12px;
    }

    .article {
        flex-direction: column;
        align-items: center;
    }

    .text-left, .text-right {
        text-align: center;
    }
}