body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  #game-board {
    display: grid;
    grid-template-columns: repeat(4, 80px); /* 4 колонки */
    gap: 5px;
    justify-content: center;
    margin: 20px auto;
  }
  
  .card {
    width: 80px;
    height: 80px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: transparent;
    border: 1px solid #999;
  }
  
  .card.flipped {
    color: black;
    background-color: #fff;
  }
  
  .card.matched {
    background-color: #bbb;
  }
  
  #attempts {
    margin-top: 10px;
  }
  